img.bg_image{
	position: relative;
	display: block;
	height: 722px;
	width:  100%;
	z-index: -10;
}
div.login_box{
    background:url(../img/login&registered.png);
    position: absolute;
	right: 600px;
	top: 100px;
    width: 350px;
    height: 350px;
    padding: 60px 25px 80px 25px;
	background:rgba(255,255,255,0.1);
}
body{
    font-size: 12px;
    font-family: Arial;
}
div.login_acount_text{
    color: #3C3C3C;
    font-size: 16px;
    font-weight: bold;
	text-align: center;
}
div.loginInput{
    margin: 20px 0px;
}
div.loginInput span{
    width: 50px;
}
div.loginInput span.loginInputIcon{
    margin: 0px;
    width: 35px;
    height: 35px;
    display:inline-block;
}
span.loginInputIcon span.glyphicon{
    font-size: 22px;
    position: relative;
    left: 9px;
    top: 9px;
    color: #606060;
}
div.loginInput input{
    display: inline-block;
    width: 244px;
    height: 35px;
    position: relative;
    left: 6px;
    border: 0;
    border-bottom: 1px solid  #fff;
    background: #ffffff00;
    outline: none;
}
div a{
    color:#999;
}
div a:hover{
    text-decoration:none;
    color: #46B8DA;
}
input.redButton{
    color: white;
    font-size: 14px;
    font-weight: bold;
}